boto3
bcrypt
colorlog
cryptography
fastapi
pdfkit
pillow
polars
psycopg2-binary
pydantic
pydantic[email]
pydantic-settings
pydantic_core
python-dotenv
python-multipart
sqlalchemy
uvicorn
xlsxwriter
# Para lectura de los datos del data lake
# ToDo: de momento estas bibliotecas son obligatorias, investigar la posibilidad de eliminarlas
s3fs
fsspec